
:root{
    --main-font-family: "Roboto", "Arial", sans-serif;
    --main-regular-font-weight: 400;
    --main-medium-font-weight: 500;
    --main-bold-font-weight: 700;
    --main-body-bg-color: #fff;
    --main-h1-color: #000;
    --main-text-color: #333;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), 
    url("../fonts/roboto-v30-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: 
    url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), 
    url("../fonts/roboto-v30-latin-500.woff") format("woff"); 
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
    url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), 
    url("../fonts/roboto-v30-latin-700.woff") format("woff"); 
}

html{
    height: 100%;
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img{
    display: block;
    height: auto;
}

body{
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: var(--main-regular-font-weight);
    background-color: var(--main-body-bg-color);
}

.container{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    padding: 40px 0;
    background-image: url("../images/header-bg.jpg");
}

.header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-logo-img {
    width: 235px;
    height: 24px;
}

/* .headernav {
} */

.header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    list-style: none; 
}

.header-item {
    margin-left: 40px;
}

.header-link {
    font-weight: var(--main-bold-font-weight);
    font-size: 12px;
    line-height: 14px;

    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: var(--main-text-color);
}

.header-button{
    font-weight: var(--main-bold-font-weight);
    font-size: 12px;
    line-height: 14px;
    
    padding: 10px 0;

    letter-spacing: 1px;
    text-transform: uppercase;

    background-color: transparent;
    border: none;
    
    color: var(--main-text-color);
}

.site-main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.hero {
    background-image: url("../images/header-bg.jpg");
}

.hero-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hero-img-box {
    position: relative;
    left: 70px;
    width: 710px;
    height: 696px;
}
.hero-img-box::before{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 160px;
    height: 160px;
    background-image: url("../images/etiquette.png");
    /* background-size: 160px 160px; */
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateX(-67px) translateY(-55px);
        -ms-transform: translateX(-67px) translateY(-55px);
            transform: translateX(-67px) translateY(-55px);
    content: "";
}
.hero-img{
    width: 710px;
    height: 696px;
}

.hero-textbox {
    width: 464px;
}

.hero-text {
    font-weight: var(--main-bold-font-weight);
    font-size: 64px;
    line-height: 75px;

    margin-top: 0;
    margin-bottom: 24px;
    
    color: var(--main-h1-color);
}

.hero-description {
    font-size: 16px;
    line-height: 24px;

    margin-top: 0;
    margin-bottom: 50px;

    color: var(--main-h1-color);
}

.hero-link {
    font-weight: var(--main-medium-font-weight);
    font-size: 16px;
    line-height: 19px;

    padding: 16px 24px;

    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    
    color: var(--main-body-bg-color);
    background: #0a775f;
    border-radius: 100px;
}

.our_collection {
    overflow: hidden;
    margin: 20px;
    padding: 50px 0;
    background-image: url("../images/main-bg-top.jpg");

}

.our_collection-text {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;

    margin-top: 0;
    margin-bottom: 80px;

    text-align: center;
    
    color: var(--main-h1-color);
}

.our_collection-list {
    max-width: 1114px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.our_collection-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1114px;
    margin: 0 auto;
}
.our_collection-item:nth-child(2n){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse ;
            flex-direction: row-reverse ;
}
.our_collection-item:nth-child(2n) .our_collection-item-textbox {
    margin-right: 117px;
    margin-left: 157px;
}

.our_collection-item:nth-child(1):before{
    position: absolute;
    left: -350px;
    top: -115px;
    z-index: 4;
    display: inline-block;
    width: 402px;
    height: 300px;
    background-image: url("../images/sheet-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 402px 300px;
    content: "";
}
.our_collection-item:nth-child(2):before{
    position: absolute;
    right: -405px;
    bottom: -280px;
    z-index: 4;
    display: inline-block;
    width: 392px;
    height: 477px;
    background-image: url("../images/sheet-2-1.svg"), url("../images/sheet-2-2.svg");
    background-repeat: no-repeat;
    background-position: center, calc(50%) calc(50% + 15px);
    background-size: 392px 477px, 253px 215px;
    content: "";
}

.our_collection-item:nth-child(4):before{
    position: absolute;
    left: -430px;
    top: -55px;
    z-index: 4;
    display: inline-block;
    width: 402px;
    height: 300px;
    background-image: url("../images/sheet-3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 316px 269px;
    content: "";
}



.our_collection-item-textbox{
    width: 390px;
    margin-right: 157px;
    margin-left: 117px;
}

.our_collection-item-text{
    font-weight: var(--main-medium-font-weight);
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 10px;
    
    color: var(--main-text-color);
}

.our_collection-description{
    font-size: 22px;
    line-height: 34px;

    margin: 0;

    color: var(--main-text-color);
}

.why_choose_us {
    position: relative;
    margin-right: 20px;
    margin-bottom: 289px;
    margin-left: 20px;
    padding-top: 50px;
    padding-bottom: 500px;
    background-image: url("../images/main-bg-middle.jpg");
}

.why_choose_us-textbox {
    width: 581px;
    margin: 0 auto;
}

.why_choose_us-textbox-text {
    font-weight: var(--main-bold-font-weight);
    font-size: 50px;
    line-height: 59px;
    margin-top: 10px;
    margin-bottom: 0;

    text-align: center;
    
    
    color: #fff;
}

.why_choose_us-textbox-description {
    font-size: 16px;
    line-height: 28px;

    margin: 0;
    text-align: center;
    
    color: #fff;
    
    mix-blend-mode: normal;
    opacity: 0.8;
}

.why_choose_us-list {
    position: absolute;
    top: 283px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.why_choose_us-list::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 144px;
    background-image: url("../images/label-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateX(-50px) translateY(-50px);
        -ms-transform: translateX(-50px) translateY(-50px);
            transform: translateX(-50px) translateY(-50px);
    content: "";
}

.why_choose_us-item {
    width: 433px;
}
.why_choose_us-item:nth-child(2){
    margin: 0 20px;
}

.why_choose_us-image {
    width: 433px;
    height: 500px;
}

.why_choose_us-item-text {
    font-weight: var(--main-medium-font-weight);
    font-size: 30px;
    line-height: 35px;
    margin-top: 28px;
    margin-bottom: 10px;

    
    color: var(--main-text-color);
}

.why_choose_us-item-description {
    font-size: 18px;
    line-height: 28px;

    margin: 0;
    
    color: var(--main-text-color);
}

.how_it_works {
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 50px 30px;
    background-image: url("../images/main-bg-bottom.jpg");
}
.how_it_works::before{
    position: absolute;
    top: 90px;
    left: calc(50% + 410px);
    display: inline-block;
    width: 192px;
    height: 129px;
    background-image: url("../images/label-2.svg");
    background-position: center;
    background-size: 192px auto;
    background-repeat: no-repeat;
    content: "";
}

.how_it_works-text {
    font-weight: var(--main-bold-font-weight);
    font-size: 50px;
    line-height: 59px;

    margin-top: 0;
    margin-bottom: 80px;

    text-align: center;
   
    
    color: var(--main-body-bg-color);
}

.how_it_works-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 966px;
    margin-bottom: 20px;
    background-image: url("../images/dot-line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 966px 1px;
}

.how_it_works-minibox {
    display: inline-block;
    width: 52px;
    height: 52px;
    background: #f8f8f2;
    border: 4px solid #c99b67;
}

.how_it_works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;
}

.how_it_works-item {
    width: 433px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: var(--main-body-bg-color);
}
.how_it_works-item:nth-child(2){
    margin: 0 20px;
}

.how_it_works-item-number {
    display: block;
    text-align: end;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 45px;

    
    
    color: var(--main-text-color);
    
    opacity: 0.8;
}

.how_it_works-item-textbox{
    width: 231px;
}

.how_it_works-item-text {
    font-weight: var(--main-medium-font-weight);
    font-size: 40px;
    line-height: 47px;

    margin-top: 0;
    margin-bottom: 10px;

    
    color: var(--main-text-color);
}

.how_it_works-item-descriptionbox{
    width: 385px;
}

.how_it_works-item-description {
    font-size: 18px;
    line-height: 28px;

    margin: 0;

    color: var(--main-text-color);
}

.how_it_works-linkbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.how_it_works-link {
    font-weight: var(--main-medium-font-weight);
    font-size: 16px;
    line-height: 19px;

    padding: 16px 24px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    
    color: var(--main-body-bg-color);
    background-color: #c99b67;
    border-radius: 100px;
}



.hero-about_us-textbox {
    width: 372px;
}

.hero-about-us-img-box {
    position: relative;
    left: 70px;
    width: 710px;
    height: 596px;
}
.hero-about-us-img-box::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 160px;
    height: 160px;
    background-image: url("../images/etiquette.png");
    /* background-size: 160px 160px; */
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateX(-67px) translateY(-55px);
        -ms-transform: translateX(-67px) translateY(-55px);
            transform: translateX(-67px) translateY(-55px);
    content: "";
}

.hero-about_us-img {
    width: 710px;
    height: 596px;
}

.our_commitment {
    overflow: hidden;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 160px;
    margin-left: 20px;
    padding-top: 160px;
    padding-bottom: 200px;
    background-image: url("../images/main-bg-top.jpg");
}

.our_commitment-bg-box{
    position: relative;
}

.our_commitment-bg-box::before{
    position: absolute;
    left: -310px;
    top: -60px;
    z-index: 1;
    display: inline-block;
    width: 402px;
    height: 300px;
    background-image: url("../images/sheet-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 402px 300px;
    content: "";
}
.our_commitment-box{
    position: relative;
    /* width: 1171px; */
    margin-left: auto;
    padding-left: 545px;
    background-image: url("../images/green-cofee.png");
    background-repeat: no-repeat;
    background-size: 360px 364px;
    background-position: calc(50% - 430px);
    z-index: 1;
}

.our_commitment-textbox{
    width: 626px;
    margin-left: auto;
}

.our_commitment-text {
    font-weight: var(--main-bold-font-weight);
    font-size: 48px;
    line-height: 56px;

    margin-top: 0;
    margin-bottom: 24px;
    text-transform:uppercase;
    
    color: var(--main-h1-color);
}

.our_commitment-description {
    font-size: 18px;
    line-height: 30px;

    margin: 0;

    color: var(--main-text-color);
}


.quality {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    background-image: url("../images/main-bg-middle.jpg");
    background-position: center;
}

.quality-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.quality-texts-box {
    margin-right: 38px;
}

.quality-textbox {
    width: 397px;
    margin-bottom: 24px;
}

.quality-text {
    font-weight: var(--main-bold-font-weight);
    font-size: 50px;
    line-height: 59px;
    margin: 0;
    text-transform:uppercase;
    
    color: var(--main-body-bg-color);
}

.quality-descriptionbox {
    width: 639px;
}

.quality-description {
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    
    margin: 0;
    
    color: var(--main-body-bg-color);
    
    mix-blend-mode: normal;
    opacity: 0.8;
}

.quality-img{
    position: relative;
    bottom: 80px;
    width: 550px;
    height: 500px;
}


.headquarters {
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url("../images/main-bg-bottom.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.headquarters-text {
    font-weight: var(--main-bold-font-weight);
    font-size: 50px;
    line-height: 59px;

    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    text-transform:uppercase;
    
    color: var(--main-body-bg-color);
    
}

.headquarters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.headquarters-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 433px;
    height: 396px;
    padding: 40px 20px;
    background-color: var(--main-body-bg-color);
}
.headquarters-item:nth-child(2) {
    margin: 0 20px;
}
.headquarters-item:nth-child(1):before{
    position: absolute;
    display: inline-block;
    top: 45px;
    right: 55px;
    width: 120px;
    height: 143px;
    background-image: url("../images/UK.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.headquarters-item:nth-child(2):before{
    position: absolute;
    display: inline-block;
    top: 45px;
    right: 55px;
    width: 120px;
    height: 120px;
    background-image: url("../images/Canada.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.headquarters-item:nth-child(3):before{
    position: absolute;
    display: inline-block;
    top: 45px;
    right: 55px;
    width: 120px;
    height: 107px;
    background-image: url("../images/Australia.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.headquarters-item-textbox {
    width: 231px;
    margin-bottom: 10px;
}

.headquarters-item-text {
    font-weight: var(--main-medium-font-weight);
    font-size: 40px;
    line-height: 47px;

    margin: 0;
    text-transform:uppercase;
    
    color: var(--main-text-color);
    
}

/* .headquarters-descriptionbox {
} */
.headquarters-description {
    display: block;      
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.site-footer {
    padding: 65px 0;
    background-image: url("../images/header-bg.jpg");
}

.footer-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* .footer-logo {
} */

.footer-logo-img {
    width: 235px;
    height: 24px;
}

/* .footernav {
} */

.footernav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .footernav-item {
} */
.footernav-item:nth-child(2) {
    margin: 0 40px;
}

.footernav-link {
    font-weight: var(--main-bold-font-weight);
    font-size: 16px;
    line-height: 19px;

    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: var(--main-text-color);
}

.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .footer-item {
} */
.footer-item:nth-child(2) {
    margin: 0 30px;
}

/* .footer-link {
} */

.footer-link-logo {
    width: 30px;
    height: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-open{
    display: block; 
}




.modal-window {
    position: relative;
    width: 561px;
    margin: 0 auto;
    -webkit-animation-name: animation;
            animation-name: animation;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes animation{
    0%{
        top: 0;
    }

    50%{

    }
    100%{
        top: 157px;
    }
}

@keyframes animation{
    0%{
        top: 0;
    }

    50%{

    }
    100%{
        top: 157px;
    }
}

.modal-window-textbox {
    padding: 19px 30px;
    background-color: #c99b67;
}

.modal-window-text {
    font-weight: var(--main-bold-font-weight);
    font-size: 44px;
    line-height: 52px;

    margin: 0;
    font-variant: small-caps;
    
    color: var(--main-body-bg-color);
}

.modal-window-descriptionbox {
    padding: 50px 30px;
    background-color: var(--main-body-bg-color);
}

.modal-window-description-top {
    font-weight: var(--main-medium-font-weight);
    font-size: 24px;
    line-height: 34px;

    margin-top: 0;
    margin-bottom: 10px;
    
    color: var(--main-h1-color);
}

.modal-window-description-top-minibox{
    color: #0a775f;
}

.modal-window-description-bottom {
    font-size: 18px;
    line-height: 26px;

    margin-top: 0;
    margin-bottom: 50px;
    color: var(--main-text-color);
    
    mix-blend-mode: normal;
    opacity: 0.8;
}

.modal-window-buttonbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
}

.modal-window-buttonbox-price {
    font-weight: var(--main-medium-font-weight);
    font-size: 24px;
    line-height: 28px;
    
    color: var(--main-h1-color);
}

.modal-window-buttonbox-button {
    font-weight: var(--main-medium-font-weight);
    font-size: 20px;
    line-height: 23px;

    padding: 16px 24px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    
    color: var(--main-body-bg-color);
    background: #0a775f;
    border: none;
    border-radius: 100px;
}